<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type='text/css'
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>


    <script src={% static 'main.js' %} defer></script>
    <script src={% static 'style.css' %} defer></script>
    <script src={% static 'semantic.js' %} defer></script>
    <title>Document</title>
</head>

<body>
    <div class="ui container mt-5">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>